



<ion-tabs>
  
  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="cuenta">
      <ion-icon name="person"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
      <ion-icon name="call"></ion-icon>
      <ion-label>contacto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="config">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Configuracion</ion-label>
    </ion-tab-button>

  </ion-tab-bar>



</ion-tabs>