<app-header titulo="grid"></app-header>

<ion-content fullscreen> 

  <ion-grid fixed>
<!--
    <ion-row>
      <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">{{i+1}}</ion-col>
    </ion-row>
   -->
   
   <ion-row>
     <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1];">
       <ion-card>
         <ion-img src="/assets/shapes.svg"></ion-img>
         <ion-card-header>
           <ion-card-subtitle>subtitulo carta</ion-card-subtitle>
           <ion-card-title>Card title</ion-card-title>
         </ion-card-header>
         <ion-card-content>
           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut corporis ab nemo quos reiciendis numquam repudiandae incidunt maxime minus qui deleniti aliquid velit, in enim quia unde et? Maiores, unde?
         </ion-card-content>
       </ion-card>
     </ion-col>
   </ion-row>
  </ion-grid>
</ion-content>

